<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ProcessIntelligence API reverse proxy" stopProcessing="true">
          <match url="^api(?:/(.*))?$" />
          <action
            type="Rewrite"
            url="http://127.0.0.1:3100/api/{R:1}"
            appendQueryString="true"
          />
        </rule>
        <rule name="ProcessIntelligence React SPA fallback" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{URL}" pattern="^/api(?:/|$)" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
